<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
	<a class="navbar-brand" href="{% url 'index' %}">Django Starter</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
		    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="{% url 'test' %}">Test</a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Settings
		    </a>
		    <ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">{{user.email}}</a></li>
			<li>
			    <hr class="dropdown-divider">
			</li>
			<li><a class="dropdown-item" href="{% url 'dashboard' %}">User Dashboard</a></li>
			{% if user.is_authenticated and user.is_superuser %}
			<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin panel</a></li>
			{% endif %}
			<form action="{% url 'logout' %}" method="post">
			    {% csrf_token %}
			    <button type="submit">Log Out</button>
			</form>
		    </ul>
		</li>
	    </ul>
	    {% else %}
	    <form class="form d-flex me-auto">
		<a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
		<a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
	    </form>
	    {% endif %}
	</div>
    </div>
</nav>
